
<title>Steve Mieskoski: About Me</title>

<h2 class="h2-page-content"><i class="material-icons" id="i2" style="font-size: 40px;">perm_identity</i>ABOUT ME TEMPLATE</h2>

<div class="messageAttach"></div>

<P>2014--2015</P>
<p>Cleveland Young Professional Senate</p>
<p>Economic Development Commission Chair</p>
<p>lead the commission on economic development component of the organizational goal of engaging young professionals.  This included organizing the commissions panel for an annual conference held by the Cleveland Young Professional Senate.  As a firm believer of entrepreneurship as a driver of economic change I assembled a panel of prominent young professional entrepreneurs, including one of forbes 30 under 30, to discuss the realities, and expand awareness of young entrepreneurs in Cleveland</p>

<div class="button-attach"></div>

