
<div id="closeContact" style="position:absolute; left: 2%; top: 2%;"></div>
<!-- todo correct the clickable area of the close button -->
<div id="contactContainer" style="position:absolute; left: 30%; top: 5%;">
    <form id="ContactForm" action="/" method="post">
        <!--<h4>pardon the dust. The contact form is undergoing a rebuild</h4>-->
        <div style="position:absolute; right: 12%; bottom: 2%;" >
            <input  type="submit" value="Submit" class="template-return-button mdl-button-return  mdl-js-button mdl-js-ripple-effect"/>
        </div>

        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" id="firstname" name="firstname" required>
            <label style="color: #73fef6;" for="firstname">Firstname</label>
        </div>
        <br/>

        <div class="mdl-textfield mdl-js-textfield">
            <input class="mdl-textfield__input" type="text" id="surname" name="surname" required>
            <label style="color: #73fef6;" for="surname">Lastname</label>
        </div>
        <br/>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="email" id="email" name="email" required>
            <label style="color: #73fef6;" for="email">Email</label>
        </div>
        <br/>
        <!--<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="hidden" id="role" name="role">
            <label style="color: #73fef6;" for="role">Role</label>
        </div>-->

        <!--<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="hidden" id="title" name="title">
            <label style="color: #73fef6;" for="title">Title</label>
        </div>-->

        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" id="subject" name="subject">
            <label style="color: #73fef6;" for="subject">Subject</label>
        </div>
        <br/>
        <!--<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" id="organization"  name="organization">
            <label style="color: #73fef6;" for="organization">Organization</label>
        </div>-->

       <!-- <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" id="purpose" name="purpose">
            <label style="color: #73fef6;" for="purpose">Intent</label>
        </div>-->

        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <textarea class="mdl-textfield__input" type="text" id="message" name="message"></textarea>
                <label style="color: #73fef6;" for="message">Message</label>
        </div>


    </form>
</div>

<script>

    $( "#ContactForm" ).submit(function( event ) {
        event.preventDefault();

        var formData, message, posting;

        formData = [
            "firstname:" + $('input[name=firstname]').val() + '\n',
            "surname:" + $('input[name=surname]').val() + '\n',
            "email:" + $('input[name=email]').val() + '\n',
            "subject:" + $('input[name=subject]').val() + '\n',
            "Contact Message:" + $('textarea[name=message]').val() + '\n'
        ];

        message = {message: formData};
        console.log(formData);
        posting = $.ajax({
            type: 'POST',
            data: JSON.stringify(message),
            contentType: 'application/json',
            url: "https://stark-tundra-18816.herokuapp.com/email/send",
            //"http://localhost:3000/email/send",
            //"https://stark-tundra-18816.herokuapp.com/send"
            success: function(data) {
                $('#ContactForm').remove();
                var successMessage = document.createElement('h2');
                successMessage.textContent = 'I thank you for your contact.';
                $('#contactContainer').append(successMessage);
                console.log('success');
                console.log(JSON.stringify(data));
            }});

             posting.done(function( data ) {console.log(data)})
             });

    /*
    var closeDialog = document.getElementById("closeDialog");
    var infoPrintDialog = document.getElementById("ContactDialog");
            closeDialog.addEventListener("click", function() {
            infoPrintDialog.close();
            var DialogElement = document.getElementById("ContactDialog");
            DialogElement.remove();
             });
             */
</script>

<!--
     <form id="ContactForm" action="/" method="post">
        <h2>pardon the dust. The contact form is undergoing a rebuild</h2>
        <br/>

            <label for="firstname">Firstname</label>
            <input  id="firstname" name="firstname" />
        <br/>

            <label for="surname">Lastname</label>
            <input  id="surname" name="surname"/>
        <br/>

            <label for="email">Your Email</label>
            <input id="email" name="email" required/>
        <br/>

            <label for="role">Role</label>
            <input  id="role" name="role"/>
        <br/>

            <label for="title">Title</label>
            <input  id="title" name="title"/>
        <br/>

            <label for="subject">Subject</label>
            <input  id="subject" name="subject"/>
        <br/>

            <label for="organization">Organization</label>
            <input  id="organization"  name="organization"/>
        <br/>

            <label for="purpose">Intent</label>
            <input  id="purpose" name="purpose" />
        <br/>

            <label for="message">Message</label>
            <textarea id="message" name="message"></textarea>
        <br/>

        <div style="position:relative; left: 4%; top: 2%;" >
            <input  type="submit" value="Submit" class="template-return-button mdl-button-return  mdl-js-button mdl-js-ripple-effect"/>
        </div>
    </form>
 -->