<title>Steve Mieskoski: Education</title>


<h2 class="h2-page-content">EDUCATION</h2>

<ul class="demo-list-three mdl-list" style="font-weight: 900;">
    <li>
    <span>
      <span style="font-size: 1.5em;"> KENT STATE UNIVERSITY</span>
        <span style="float:right">Completed: August 2012</span><br/>
      <span>  BSc. Major: Physics</span>
      <span class="mdl-list__item-text-body">
          <ul>
              <li>
                 Data analysis and computational physics
              </li>
              <li>
                 Intro. to numerical computing I & II <sub>Adv. undergratuate/graduate course</sub>
                  <!--<span style="font-size: .5em;">Adv. undergratuate/graduate course</span>-->
              </li>
          </ul>
      </span>
    </span>
    </li>
    <br/>
    <li>
    <span>
      <span style="font-size: 1.5em;">Internship</span>
        <span style="float:right">2012</span><br/>
      <span>  The Liquid Crystal Institute</span>
      <span class="mdl-list__item-text-body">
          <ul>
  <li>
                 Conducted experiments on liquid crystal materials.
              </li>
              <li>
                  Analyzed results of experiments
              </li>
              <li>
                  Presented and defended results in front of the research group
              </li>
          </ul>
      </span>
    </span>
    </li>
    <br/>
    <li>
    <span>
      <span style="font-size: 1.5em;"> SELF STUDY</span>
        <span style="float:right">2016</span><br/>
      <span class="mdl-list__item-text-body">
          <dl>
              <dt style="font-size: 1.25em;">
                  <u> Javascript</u>
              </dt>
              <dt>
                  Assesments:
              </dt>
                <dd>
                    <a style="text-decoration:none;" href="https://www.testdome.com/cert/e5tpj3kwpm" class="testdome-certificate-stamp gold"><span class="testdome-certificate-name">Steve Mieskoski </span><span class="testdome-certificate-test-name">JS (Hard) </span><span class="testdome-certificate-card-logo">TestDome<br />Certificate</span></a><script type="text/javascript">var stylesheet = "https://www.testdome.com/Content/source/stylesheets/embed.css", link = document.createElement("link"); link.href = stylesheet, link.type = "text/css", link.rel = "stylesheet", link.media = "screen,print", document.getElementsByTagName("head")[0].appendChild(link);</script>
                </dd>
            <!--  <li>
                 Theory:
              </li> -->
          </dl>
      </span>
    <span class="mdl-list__item-text-body">
          <dl>
              <dt style="font-size: 1.25em;">
                  <u> HTML/CSS</u>
              </dt>
              <dt>
                  Assesments:
              </dt>
                <dd>
                    <a style="text-decoration:none;" href="https://www.testdome.com/cert/4bbqgb98in" class="testdome-certificate-stamp gold"><span class="testdome-certificate-name">Steve Mieskoski </span><span class="testdome-certificate-test-name">HTML/CSS (Hard) </span><span class="testdome-certificate-card-logo">TestDome<br />Certificate</span></a><script type="text/javascript">var stylesheet = "https://www.testdome.com/Content/source/stylesheets/embed.css", link = document.createElement("link"); link.href = stylesheet, link.type = "text/css", link.rel = "stylesheet", link.media = "screen,print", document.getElementsByTagName("head")[0].appendChild(link);</script>
                </dd>
          </dl>
      </span>
    <span class="mdl-list__item-text-body">
          <dl>
              <dt style="font-size: 1.25em;">
                  <u> Python</u>
              </dt>
          </dl>
      </span>
    </span>
    </li>
</ul>


<div>
    <div class="button-attach"></div>
</div>