<title>Steve Mieskoski: Education</title>


<h2 class="h2-page-content">EDUCATION</h2>

<ul class="demo-list-three mdl-list" style="font-weight: 900;">
    <li>
    <span>
      <span> KENT STATE UNIVERSITY</span>
        <span style="float:right">Completed: August 2012</span><br/>
      <span>  BSc. Major: Physics</span>
      <span class="mdl-list__item-text-body">
          <ul>
              <li>
                 Data analysis and computational physics
              </li>
              <li>
                 Intro. to numerical computing I & II <sub>Adv. undergratuate/graduate course</sub>
                  <!--<span style="font-size: .5em;">Adv. undergratuate/graduate course</span>-->
              </li>
          </ul>
      </span>
    </span>
    </li>
    <br/>
    <li>
    <span>
      <span>Internship</span>
        <span style="float:right">2012</span><br/>
      <span>  The Liquid Crystal Institute</span>
      <span class="mdl-list__item-text-body">
          <ul>
  <li>
                 Conducted experiments on liquid crystal materials.
              </li>
              <li>
                  Analyzed results of experiments
              </li>
              <li>
                  Presented and defended results in front of the research group
              </li>
          </ul>
      </span>
    </span>
    </li>
    <br/>
    <li>
    <span>
      <span> SELF STUDY</span>
        <span style="float:right"></span><br/>
      <span>  Javascript</span>
      <span class="mdl-list__item-text-body">
          <ul>
              <li>
                 Theory:
              </li>
          </ul>
      </span>
    </span>
    </li>
</ul>


<div>
    <div class="button-attach"></div>
</div>