<title>Steve Mieskoski: Education</title>

<span><i class="material-icons" id="i5" style="font-size: 40px;">school</i>EDUCATION TEMPLATE</span>

<ul class="demo-list-three mdl-list" >
    <li class="mdl-list__item mdl-list__item--three-line" >
    <span class="mdl-list__item-primary-content">
      <i class="material-icons mdl-list__item-avatar">person<br/></i>
      <span> KENT STATE UNIVERSITY</span><br/>
      <span>  BSc. Major: Physics</span>
      <span class="mdl-list__item-text-body" >
          <ul>
              <li>
                  Vestibulum scelerisque sem sit amet enim aliquet
              </li>
          </ul>
      </span>
    </span>
        <span class="mdl-list__item-secondary-content">
      Completed: August 2012
    </span>
    </li>


    <li class="mdl-list__item mdl-list__item--three-line">
    <span class="mdl-list__item-primary-content">
      <i class="material-icons  mdl-list__item-avatar">person</i>
      <span>Internship</span><br/>
        <span>The Liquid Crystal Institute</span>
      <span class="mdl-list__item-text-body">
          <ul>
              <li>
                 Conducted experiments on liquid crystal materials.
              </li>
              <li>
                  Analyzed results of experiments
              </li>
              <li>
                  Presented and defended results in front of the research group
              </li>
          </ul>
      </span>
    </span>
        <span class="mdl-list__item-secondary-content">
      2012
    </span>
    </li>
</ul>


<div>
    <div class="button-attach"></div>
</div>