<title>Steve Mieskoski: Experience</title>

<span><i class="material-icons" id="i1" style="font-size: 40px;">work</i>EXPERIENCE TEMPLATE</span>

<ul class="mdl-list" >
    <li class="mdl-list__item mdl-list__item--three-line" >
    <span class="mdl-list__item-primary-content">
      <i class="material-icons mdl-list__item-avatar">gavel</i>
      <span> Hahn Loeser & Parks LLP</span><br/>
      <span>  Patent Agent</span>
      <span class="mdl-list__item-text-body" >
          <!-- Question to answer: How does this relate to programming and such?  -->
          <ul>
              <li>
                  Handled multiple assignments simultaneously including patent application drafting.
              </li>
              <li>
                  Assisted in due diligence related to patents and trademarks including researching intellectual property portfolios as well as confirming and updating ownership information.
              </li>
              <li>
                   Reviewed and summarized competitor patents or products
              </li>
          </ul>
      </span>
    </span>
        <span class="mdl-list__item-secondary-content">
      2013-2015
    </span>
    </li>
    <br/>

    <!-- instead of adding a <br/> element here summaerize the above information better or re package the core text content of each list item on the page-->
    <li class="mdl-list__item mdl-list__item--three-line">
    <span class="mdl-list__item-primary-content">
      <i class="material-icons  mdl-list__item-avatar" aria-hidden="true">gavel</i>
      <span>Hahn Loeser & Parks LLP</span><br/>
        <span>Technical Specialist</span>
      <span class="mdl-list__item-text-body">
          <!-- Question to answer: How does this relate to programming and such?  -->
          <ul>
              <li>
                  Researched patent law related questions.
              </li>
              <li>
                  Conducted searches of patent and trademark databases
              </li>
          </ul>
      </span>
    </span>
        <span class="mdl-list__item-secondary-content">
      2013-2014
    </span>
    </li>


    <li class="mdl-list__item mdl-list__item--three-line">
    <span class="mdl-list__item-primary-content">
        <i class="fa fa-balance-scale" aria-hidden="true"></i>
      <!--<i class="material-icons  mdl-list__item-avatar">gavel</i>-->
      <span>Hahn Loeser & Parks LLP</span><br/>
        <span>Intellectual Property Docket Clerk</span>
      <span class="mdl-list__item-text-body">
          <ul>
              <li>
                   Maintained the intellectual property docket as part of the intellectual property docking department including precisely entering new correspondence information and deadlines, and ensuring the removal of items or deadlines only occurred following definitive confirmation of completion.
              </li>
          </ul>
      </span>
    </span>
        <span class="mdl-list__item-secondary-content">
      2013
    </span>
    </li>


    <li class="mdl-list__item mdl-list__item--three-line">
    <span class="mdl-list__item-primary-content">
      <i class="fa fa-industry" aria-hidden="true"></i>
      <span>Humanetics</span><br/>
        <span>Laboratory Technician</span>
      <span class="mdl-list__item-text-body">
          <ul>
              <li>
                Tested and certified “crash test dummy” components met government standards.
              </li>
              <li>
                 Tested engineering designs
              </li>
          </ul>
      </span>
    </span>
        <span class="mdl-list__item-secondary-content">
      2012-2013
    </span>
    </li>
</ul>


<div>
    <div class="button-attach"></div>
</div>