<title>Steve Mieskoski: Introduction</title>
<h2 style="position:relative; left:4%;">INTRODUCTION</h2>
<div>
    <p>One could say I look at life as a continual moonshot, if I'm not pushing my boundaries into the unknown then I feel like I'm doing something wrong.  Maybe this mentality drew me to my career in patents with a desire to witness the future invented, but law isn't a profession where this mentality thrives.  Thus I took it upon myself to gain fluency where previously only a partial understanding existed. Starting with python known to me as a language widely used in science I  began to learn the structure and mentality of programming.  I ended my python education with Django, and segued into languages of the web.  In particular, JavaScript and it's derivative TypeScript, along with HTML and CSS.  I quickly found I quite enjoyed these web languages.  Finding Something about the ability to create something 'tangible' invigorating while simultaneously enjoying providing the challenges associated with making the doohickey do it's doohickey-ing satisfied me.</p>

    <p>I have taken the time to not only learn the basics, but to gain understanding with depth of the languages I've studied.  Providing more than a foundation, but a practical understanding acquired both via personal experience and investigations to solve problems I've encountered.  In an ever increasing manner I have gained the tools to perform the same operation by multiple means depending on the circumstances and requirements.</p>
</div>



<div class="button-attach"></div>