<title>Steve Mieskoski: Programming</title>

<a href="https://github.com/SteveMieskoski">GitHub Page</a>
<h2 style="position:relative; left:4%;">PROGRAMMING LANGUAGES & FRAMEWORKS</h2>
<div style="position:relative;">
    <p>My experience has only grown since becoming versed with my first two focus languages where i now have experience with 4 different programming languages, 5 frameworks and created 4 projects to showcase.</p>
        <!-- quick and dirty (i.e. needs to be cleaned) -->

        <table id="circleJavascript" style="position:relative;">
            <tr>
                <td style="font-weight: 600; text-align: center;">HTML</td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular empty"></div></td>
                <td><div class="circular empty"></div></td>
                <td><div class="circular empty"></div></td>
                <td><div class="circular empty"></div></td>
                <td><div class="circular empty"></div></td>
                <td></td>
                <td></td>
                <td style="font-weight: 600; text-align: center;">CSS</td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular empty"></div></td>
                <td><div class="circular empty"></div></td>
                <td><div class="circular empty"></div></td>
                <td><div class="circular empty"></div></td>
                <td><div class="circular empty"></div></td>
            </tr>
            <tr><td><div>&nbsp</div></td></tr>
            <tr>
                <td style="font-weight: 600;">JAVASCRIPT</td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular empty"></div></td>
                <td><div class="circular empty"></div></td>
                <td><div class="circular empty"></div></td>
                <td><div class="circular empty"></div></td>
                <td><div class="circular empty"></div></td>
                <td></td>
                <td></td>
                <td style="font-weight: 600; text-align: center;">PYTHON</td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular empty"></div></td>
                <td><div class="circular empty"></div></td>
                <td><div class="circular empty"></div></td>
                <td><div class="circular empty"></div></td>
                <td><div class="circular empty"></div></td>
                <td></td>
                <td></td>
                <td style="font-weight: 600;">TYPESCRIPT</td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular empty"></div></td>
                <td><div class="circular empty"></div></td>
                <td><div class="circular empty"></div></td>
                <td><div class="circular empty"></div></td>
                <td><div class="circular empty"></div></td>
            </tr>
            <tr>
                <td style="text-align: center;">NodeJS</td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular empty"></div></td>
                <td><div class="circular empty"></div></td>
                <td><div class="circular empty"></div></td>
                <td><div class="circular empty"></div></td>
                <td><div class="circular empty"></div></td>
                <td></td>
                <td></td>
                <td style="text-align: center;">Requests</td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular empty"></div></td>
                <td><div class="circular empty"></div></td>
                <td><div class="circular empty"></div></td>
                <td><div class="circular empty"></div></td>
                <td><div class="circular empty"></div></td>
                <td></td>
                <td></td>
                <td style="text-align: center;">Angular2</td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular empty"></div></td>
                <td><div class="circular empty"></div></td>
                <td><div class="circular empty"></div></td>
                <td><div class="circular empty"></div></td>
                <td><div class="circular empty"></div></td>
            </tr>
            <tr>
                <td style="text-align: center;">jQuery</td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular empty"></div></td>
                <td><div class="circular empty"></div></td>
                <td><div class="circular empty"></div></td>
                <td><div class="circular empty"></div></td>
                <td><div class="circular empty"></div></td>
                <td></td>
                <td></td>
                <td style="text-align: center;">BeautifulSoup</td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular empty"></div></td>
                <td><div class="circular empty"></div></td>
                <td><div class="circular empty"></div></td>
                <td><div class="circular empty"></div></td>
                <td><div class="circular empty"></div></td>
                <td></td>
                <td></td>
                <td style="text-align: center;">PrimeNG</td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular empty"></div></td>
                <td><div class="circular empty"></div></td>
                <td><div class="circular empty"></div></td>
                <td><div class="circular empty"></div></td>
                <td><div class="circular empty"></div></td>
            </tr>
            <tr>
                <td style="text-align: center;">ThreeJS</td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular empty"></div></td>
                <td><div class="circular empty"></div></td>
                <td><div class="circular empty"></div></td>
                <td><div class="circular empty"></div></td>
                <td><div class="circular empty"></div></td>
                <td></td>
                <td></td>
                <td style="text-align: center;">Lxml</td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular empty"></div></td>
                <td><div class="circular empty"></div></td>
                <td><div class="circular empty"></div></td>
                <td><div class="circular empty"></div></td>
                <td><div class="circular empty"></div></td>
                <td></td>
                <td></td>
                <td style="text-align: center;">Angular2-Mat.</td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular empty"></div></td>
                <td><div class="circular empty"></div></td>
                <td><div class="circular empty"></div></td>
                <td><div class="circular empty"></div></td>
                <td><div class="circular empty"></div></td>
            </tr>
            <tr>
                <td style="text-align: center;">MochaJS</td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular empty"></div></td>
                <td><div class="circular empty"></div></td>
                <td><div class="circular empty"></div></td>
                <td><div class="circular empty"></div></td>
                <td><div class="circular empty"></div></td>
                <td></td>
                <td></td>
                <td style="text-align: center;">Django</td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular empty"></div></td>
                <td><div class="circular empty"></div></td>
                <td><div class="circular empty"></div></td>
                <td><div class="circular empty"></div></td>
                <td><div class="circular empty"></div></td>
            </tr>
            <tr>
                <td style="text-align: center;">WebdriverIO</td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular empty"></div></td>
                <td><div class="circular empty"></div></td>
                <td><div class="circular empty"></div></td>
                <td><div class="circular empty"></div></td>
                <td><div class="circular empty"></div></td>
                <td></td>
                <td></td>
                <td style="text-align: center;">Scikit-Learn</td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular empty"></div></td>
                <td><div class="circular empty"></div></td>
                <td><div class="circular empty"></div></td>
                <td><div class="circular empty"></div></td>
                <td><div class="circular empty"></div></td>
            </tr>
            <tr>
                <td style="text-align: center;">ExpressJS</td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular empty"></div></td>
                <td><div class="circular empty"></div></td>
                <td><div class="circular empty"></div></td>
                <td><div class="circular empty"></div></td>
                <td><div class="circular empty"></div></td>
                <td></td>
                <td></td>
                <td style="text-align: center;">Selenium</td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular empty"></div></td>
                <td><div class="circular empty"></div></td>
                <td><div class="circular empty"></div></td>
                <td><div class="circular empty"></div></td>
                <td><div class="circular empty"></div></td>
            </tr>
            <tr>
                <td style="text-align: center;">ThreeJS</td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular empty"></div></td>
                <td><div class="circular empty"></div></td>
                <td><div class="circular empty"></div></td>
                <td><div class="circular empty"></div></td>
                <td><div class="circular empty"></div></td>
                <td></td>
                <td></td>
                <td style="text-align: center;">Scrapy</td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular empty"></div></td>
                <td><div class="circular empty"></div></td>
                <td><div class="circular empty"></div></td>
                <td><div class="circular empty"></div></td>
                <td><div class="circular empty"></div></td>
            </tr>
            <tr>
                <td style="text-align: center;">RxJS</td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular empty"></div></td>
                <td><div class="circular empty"></div></td>
                <td><div class="circular empty"></div></td>
                <td><div class="circular empty"></div></td>
                <td><div class="circular empty"></div></td>
                <td></td>
                <td></td>
                <td style="text-align: center;">urllib2</td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular empty"></div></td>
                <td><div class="circular empty"></div></td>
                <td><div class="circular empty"></div></td>
                <td><div class="circular empty"></div></td>
                <td><div class="circular empty"></div></td>
            </tr>
            <tr>
                <td style="text-align: center;">RequireJS</td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular empty"></div></td>
                <td><div class="circular empty"></div></td>
                <td><div class="circular empty"></div></td>
                <td><div class="circular empty"></div></td>
                <td><div class="circular empty"></div></td>
            </tr>
            <tr>
                <td style="text-align: center;">SystemJS</td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular empty"></div></td>
                <td><div class="circular empty"></div></td>
                <td><div class="circular empty"></div></td>
                <td><div class="circular empty"></div></td>
                <td><div class="circular empty"></div></td>
            </tr>
            <tr>
                <td style="text-align: center;">MochaJS</td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular empty"></div></td>
                <td><div class="circular empty"></div></td>
                <td><div class="circular empty"></div></td>
                <td><div class="circular empty"></div></td>
                <td><div class="circular empty"></div></td>
            </tr>
            <tr>
                <td style="text-align: center;">Chai</td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular empty"></div></td>
                <td><div class="circular empty"></div></td>
                <td><div class="circular empty"></div></td>
                <td><div class="circular empty"></div></td>
                <td><div class="circular empty"></div></td>
            </tr>
            <tr>
                <td style="text-align: center;">Webpack</td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular empty"></div></td>
                <td><div class="circular empty"></div></td>
                <td><div class="circular empty"></div></td>
                <td><div class="circular empty"></div></td>
                <td><div class="circular empty"></div></td>
            </tr>
            <tr>
                <td style="text-align: center;">Material Design</td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular empty"></div></td>
                <td><div class="circular empty"></div></td>
                <td><div class="circular empty"></div></td>
                <td><div class="circular empty"></div></td>
                <td><div class="circular empty"></div></td>
            </tr>
            <tr><td><div>&nbsp</div></td></tr>
            <tr>
                <td style="font-weight: 600; text-align: center;">MongoDb</td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular empty"></div></td>
                <td><div class="circular empty"></div></td>
                <td><div class="circular empty"></div></td>
                <td><div class="circular empty"></div></td>
                <td><div class="circular empty"></div></td>
                <td></td>
                <td></td>
                <td style="font-weight: 600;">ElasticSearch</td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular empty"></div></td>
                <td><div class="circular empty"></div></td>
                <td><div class="circular empty"></div></td>
                <td><div class="circular empty"></div></td>
                <td><div class="circular empty"></div></td>
                <td></td>
                <td></td>
                <td style="font-weight: 600; text-align: center;">MySQL</td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular empty"></div></td>
                <td><div class="circular empty"></div></td>
                <td><div class="circular empty"></div></td>
                <td><div class="circular empty"></div></td>
                <td><div class="circular empty"></div></td>
            </tr>
            <tr>
                <td style="text-align: center;">PyMongo</td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular empty"></div></td>
                <td><div class="circular empty"></div></td>
                <td><div class="circular empty"></div></td>
                <td><div class="circular empty"></div></td>
                <td><div class="circular empty"></div></td>
                <td></td>
                <td></td>
                <td style="text-align: center;">Python API</td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular empty"></div></td>
                <td><div class="circular empty"></div></td>
                <td><div class="circular empty"></div></td>
                <td><div class="circular empty"></div></td>
                <td><div class="circular empty"></div></td>
                <td></td>
                <td></td>
                <td style="text-align: center; ">Python API</td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular empty"></div></td>
                <td><div class="circular empty"></div></td>
                <td><div class="circular empty"></div></td>
                <td><div class="circular empty"></div></td>
                <td><div class="circular empty"></div></td>
            </tr>
            <tr>
                <td style="text-align: center;">Mongoose</td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular empty"></div></td>
                <td><div class="circular empty"></div></td>
                <td><div class="circular empty"></div></td>
                <td><div class="circular empty"></div></td>
                <td><div class="circular empty"></div></td>
            </tr>
            <tr><td><div>&nbsp</div></td></tr>
            <tr>
                <td style="font-weight: 600; text-align: center;">Heroku</td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular empty"></div></td>
                <td><div class="circular empty"></div></td>
                <td><div class="circular empty"></div></td>
                <td><div class="circular empty"></div></td>
                <td><div class="circular empty"></div></td>
                <td></td>
                <td></td>
                <td style="font-weight: 600; text-align: center;">Git</td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular empty"></div></td>
                <td><div class="circular empty"></div></td>
                <td><div class="circular empty"></div></td>
                <td><div class="circular empty"></div></td>
                <td><div class="circular empty"></div></td>
                <td></td>
                <td></td>
                <td style="font-weight: 600; text-align: center;">GitHub</td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular empty"></div></td>
                <td><div class="circular empty"></div></td>
                <td><div class="circular empty"></div></td>
                <td><div class="circular empty"></div></td>
                <td><div class="circular empty"></div></td>
            </tr>
            <tr><td><div>&nbsp</div></td></tr>
            <tr>
                <td style="font-weight: 600; border-top: 1px solid black">Operating Systems</td>
            </tr>
            <tr>
                <td style="font-weight: 600; text-align: center;">Linux</td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular empty"></div></td>
                <td><div class="circular empty"></div></td>
                <td><div class="circular empty"></div></td>
                <td><div class="circular empty"></div></td>
                <td><div class="circular empty"></div></td>
                <td></td>
                <td></td>
                <td style="font-weight: 600; text-align: center;">Windows</td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular greencircle"></div></td>
                <td><div class="circular empty"></div></td>
                <td><div class="circular empty"></div></td>
                <td><div class="circular empty"></div></td>
                <td><div class="circular empty"></div></td>
                <td><div class="circular empty"></div></td>
            </tr>
        </table>





</div>
<a href ='http://www.stevemieskoski.com?do3D'>Experimental Version of This Website</a>
<div class="button-attach"></div>