<title>Steve Mieskoski: Prior Career</title>

<h2 class="h2-page-content">PRIOR CAREER</h2>
<div style="position:relative" class="mdl-typography--font-medium">
<p>In my previous professional life I worked full-time as a professional in the legal services industry in the capacity of a patent agent.  If you are unfamiliar with the particular role, at the firm where I worked I was a member of the legal staff approximately at the level of an associate attorney with an equivalent amount of experience.  As such I had most of the same pressures and responsibilities.  I conducted research, analysis, and produced written work products.  I encountered equivalent time and deadline pressures.  I honed my writing ability as my work included a significant portion requiring a final written work product.  I had to evaluate the work where my attention and time was required and work where it was more cost effective for my assistant to complete it.  Thus,  it involved both independent and teamwork skills.</p>

</div>

<div class="button-attach"></div>



