<title>Steve Mieskoski: Programming</title>

<a href="https://github.com/SteveMieskoski">GitHub Page</a>
<h2 style="position:relative; left:4%;">PROGRAMMING</h2>
<div style="position:relative;">
    <p>I came into my self study of programming already having knowledge of programming albeit my prior experience mostly dealt with numerical applications.  As such the two languages I already knew are matlab and mathematica (wolfram language) with some knwledge of fortran 90 I taught myself over a summer in college.  I leveraged this knowledge and over the time I spent studying programming I have focused on two languages im particular. <wbr> The first language I approached was Python due to it's general wide usage and it's usage in scientific and data analysis applications.  I then followed this and learned javascript for reasons similar to the first reason I learned python.  In addition to javascript's wide usage, I found the idea of creating a visual component an additional draw.  Thus I'll begin with javascript.</p>

    <p>I first approached javascript via node and angular, moving to angular 2 following the second release candidate.  I found Angular 2's use of typescript with classes, imports, and the like more familiar and comfortable.  Additionally, as typescript is related to ES6 I saw it's use as having a dual purpose.  One allowing me to learn a frontend framework and learning much of the new language elements introduced with ES6.  <wbr> I found many more as I progressed due to the requirement of converting typescript to javascript I was required to gain familiarity with build systems such as webpack, <wbr> and gulp.  This cross pollination extended beyond the client side code into my use of node as my server backend.  Thus, I wrote the server code using ES5 syntax in the commonJS style.  In essence using the MEAN stack. </p>

    <p> I more recently moved from the MEAN stack, with angular2, to more traditional JS in the sense of using vanilla JS and jQuery.  <wbr>These two form the basis of the site you are now visiting, with the use of a couple of additional packages as well.</p>


    <h3><a style="text-decoration:none; color:blue" href="https://github.com/SteveMieskoski">GitHub Profile</a></h3>
    <!-- PROJECTS -->
    <h2 style="position:relative; text-decoration:underline;">PROJECTS</h2>
    <!-- PERSONAL SITE -->
    <ol style="list-style: none;">
        <li><u><b style="font-size: 1.2em;">Personal Site</b></u></li>
        <ol style="list-style: circle;">
            <li>Implements a single page style site/application </li>
            <li>Dynamic pages using <i>HTML</i>, <i>CSS</i> and <i>JavaScript</i>.</li>
            <li><i>Three.JS</i> to create graphics and display page selection content</li>
            <li><i>JQuery</i> to handle some events and for DOM manipulation</li>
            <li><i>Require.JS</i> to handle module loading</li>
            <li>Unit test cases created using <i>Mocha</i> running in a browser environment.</li>
            <li>Functional Test Cases use <i>WebdriverIO</i> running on Node.JS</li>
            <li>Initial load, Browser history, and navigation handled internally by custom functions</li>
            <li style="list-style: none;">&nbsp Note: the choice to use '?' query versus '#' hash was arbitrary in such that both allow for string extraction which is all that the navigation functions require</li>
            <li>Self Imposed Restrictions:
                <ul>
                    <li>Run only using client-side code</li>
                    <li>No transpiling/compiling</li>
                    <li>Use RequireJS</li>
                    <li>Use at least one 3D element from Three.JS on each individual page </li>
                    <li>Be in the Single Page Style</li>
                    <li>Use Animations in connection with individual pages</li>
                </ul>
            </li>
            <dt>Environment Summary:</dt>
            <dd><u>Web Technologies:</u> HTML, JavaScript, JSON, CSS.</dd>
            <dd><u>Javascript Libraries:</u> JQuery, Three.JS, tweenjs, RequireJS</dd>
            <dd><u>CSS Framework:</u> Material Design (modified from original)</dd>
            <dd><u>Javascript frameworks used in Testing:</u> Mocha, NodeJS, Chai, WebdriverIO </dd>
            <dd><u>Unit Testing:</u> MochaJS</dd>
            <dd><u>Functional Testing:</u> WebdriverIO (selenium)</dd>
            <dd><u>Development Environment:</u> OS:Linux (Ubuntu), IDE: WebStorm </dd>
        </ol>
    </ol>
    <br/>
    <!-- PROJECT SITE 1-->
    <li><u><b style="font-size: 1.2em;">Project Site 1</b> (Angular2)</u></li>
    <ol style="list-style: circle;">
        <li>Uses Anular2 framework</li>
        <li>Routing handled by Angular2 Router</li>
        <li>Responsive design Material Design and PrimeNG</li>
        <li>Bundle building handled with systemjs builder and gulp utilizing a build pipeline adapted from <a href="https://github.com/mgechev/angular2-seed">Angular2 Seed</a></li>
        <li>Deployed via Heroku</li>
        <li>Utilizes API Project for MongoDb and Google Mail Api calls separating sensitive information from client side code</li>
        <li>OAuth authentication via JSON web tokens and third party Oauth validation provider</li>
        <li>RxJS handles transfer of data from API response and responses to specific user triggered actions</li>
        <dt>Environment Summary:</dt>
        <dd><u>Web Technologies:</u> HTML, TypeScript, JSON, JWT, RxJS, CSS, Node.js, Webpack .</dd>
        <dd><u>Framework:</u> Angular2</dd>
        <dd><u>CSS Framework:</u> Material Design, PrimeNG</dd>

    </ol>
    <br/>
    <!-- API FOR PROJECTS -->
    <li><u><b style="font-size: 1.2em;">Projects API</b> (node.JS/Express.JS)</u></li>
    <ol style="list-style: circle;">
        <li>Uses Anular2 framework</li>
        <li>Routing handled by Angular2 Router</li>
        <li>Responsive design Material Design and PrimeNG</li>
        <li>Email composition and transmission</li>
        <li>Deployed via Heroku</li>
        <li>Utilizes API Project for MongoDb and Google Mail Api calls separating sensitive information from client side code</li>
        <dt>Environment Summary:</dt>
        <dd><u>Web Technologies:</u> Javascript JSON.</dd>
        <dd><u>Frameworks/Packages:</u> NodeJS, ExpressJS, MongoDb (via NodeJS Driver),</dd>
        <dd><u>Development Environment:</u> OS: Linux (Ubuntu), IDE: WebStorm </dd>
    </ol>
    <br/>
    <!-- PROJECT SITE 0 -->
    <li><u><b style="font-size: 1.2em;">Project Site 0</b> (Angular2)</u></li>
    <ol style="list-style: circle;">
        <li>Uses Anular2 framework</li>
        <li>Routing handled by Angular2 Router</li>
        <li>Responsive design Material Design</li>
        <li>Bundle building handled with webpack and gulp utilizing a build pipeline adapted from <a href="https://github.com/mgechev/angular2-seed">Angular2 Seed</a></li>
        <li>Deployed via Heroku</li>
        <li>Utilizes API Project for MongoDb and Google Mail Api calls separating sensitive information from client side code</li>
        <li>OAuth authentication via JSON web tokens and third party Oauth validation provider</li>
        <li>RxJS handles transfer of data from API response and responses to specific user triggered actions</li>
        <dt>Environment Summary:</dt>
        <dd><u>Web Technologies:</u> HTML, TypeScript, JSON, JWT, RxJS, CSS, Node.js, Webpack, .</dd>
        <dd><u>CSS Framework:</u> Material Design </dd>
        <dd><u>Development Environment:</u> OS: Linux (Ubuntu), IDE: WebStorm </dd>
    </ol>
    <br/>
    <!--PYTHON SCRAPER LATEST-->
    <li><u><b style="font-size: 1.2em;">Python Job Scraper</b></u></li>
    <ol style="list-style: circle;">

        <li>Scrape content using requests </li>
        <li></li>
        <li>Utilized machine learning </li>
        <li>Wrote browser automation scripts using Python API  for Selenium WebDriver.</li>
        <li>Developed python code to extract information from XML and HTML files using DOM modules.</li>
        <li>Utilizes Python modules such as requests, urllib, and urllib2 for web crawling. </li>
        <li>Utilizes Python modules such as beautiful soup (bs4), pattern, and re to extract information from collected data. </li>
        <li>Utilizes supervised machine learning via scikit-learn to categorize the collected data based on labeled training sets. </li>
        <li>Full text searching of collected data via Kibana</li>
        <li>Sampling of collected data via Kibana and Sense</li>
        <dt>Environment Summary:</dt>
        <dd><u>Technologies:</u> Python, MongoDb, ElasticSearch.</dd>
        <dd><u>Development Environment:</u> OS: Linux (Ubuntu), IDE: PyCharm </dd>
    </ol>


</div>
<a href ='http://www.stevemieskoski.com?do3D'>Experimental Version of This Website</a>
<div class="button-attach"></div>


<!--
<b> -> bold
<u> -> underline
<s> -> strikthrough
<wbr> ->The HTML element word break opportunity <wbr> represents a position within text where the browser may optionally break a line, though its line-breaking rules would not otherwise create a break at that location.
-->